{
  "openapi": "3.0.0",
  "info": {
    "title": "Prime Wave Platform API",
    "description": "API documentation for the Prime Wave Platform (12 Modules)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.meetkishore.in/api/v1",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:5000/api/v1",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register new user",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "username": {
                    "type": "string",
                    "example": "johndoe"
                  },
                  "email": {
                    "type": "string",
                    "example": "student@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "student",
                      "company_hr",
                      "recruiter",
                      "admin"
                    ],
                    "default": "student"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1 555 0199"
                  },
                  "defaultPortal": {
                    "type": "string",
                    "example": "Student Portal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully with access token and refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or email already exists"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login with username/email and password",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "student"
                  },
                  "email": {
                    "type": "string",
                    "example": "student@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "student123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful - returns user profile, student data, access token, and refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/auth/refresh-token": {
      "post": {
        "summary": "Refresh JWT Access and Refresh tokens",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Tokens refreshed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tokens": {
                          "$ref": "#/components/schemas/Tokens"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "summary": "Forgot password",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "summary": "Reset password",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "summary": "Get logged-in user profile with active tokens",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged-in user profile and updated tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/change-password": {
      "put": {
        "summary": "Change password",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/auth/verify-token": {
      "get": {
        "summary": "Verify JWT access token",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "JWT is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard": {
      "get": {
        "summary": "Get dashboard overview stats, recent projects, and recent assignments",
        "tags": [
          "Dashboard"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Dashboard data retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "student": {
                          "$ref": "#/components/schemas/Student"
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "creditScore": {
                              "type": "number",
                              "example": 250
                            },
                            "currentSemester": {
                              "type": "number",
                              "example": 3
                            },
                            "leaderboardRank": {
                              "type": "number",
                              "example": 1
                            },
                            "completedProjectsCount": {
                              "type": "number",
                              "example": 3
                            },
                            "completedAssignmentsCount": {
                              "type": "number",
                              "example": 5
                            }
                          }
                        },
                        "recentProjects": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "recentAssignments": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access denied. No token provided or token expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/progress": {
      "get": {
        "summary": "Get progress",
        "tags": [
          "Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/dashboard/credits": {
      "get": {
        "summary": "Get credits",
        "tags": [
          "Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/dashboard/recent-projects": {
      "get": {
        "summary": "Get recent projects",
        "tags": [
          "Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/dashboard/recent-assignments": {
      "get": {
        "summary": "Get recent assignments",
        "tags": [
          "Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap": {
      "get": {
        "summary": "Get roadmap",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap/semesters": {
      "get": {
        "summary": "Get semesters",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap/semester/{id}": {
      "get": {
        "summary": "Get semester by ID",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap/semester/{id}/modules": {
      "get": {
        "summary": "Get modules for semester",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap/module/{id}/topics": {
      "get": {
        "summary": "Get topics for module",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap/topic/{id}": {
      "get": {
        "summary": "Get topic",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap/topic/{id}/complete": {
      "put": {
        "summary": "Complete topic",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap/semester/unlock": {
      "put": {
        "summary": "Unlock semester",
        "tags": [
          "Roadmap"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/ai/summary": {
      "post": {
        "summary": "AI Summary",
        "tags": [
          "AI Learning"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/ai/ask": {
      "post": {
        "summary": "AI Ask",
        "tags": [
          "AI Learning"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/ai/notes": {
      "post": {
        "summary": "AI Notes",
        "tags": [
          "AI Learning"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/ai/explain-code": {
      "post": {
        "summary": "AI Explain Code",
        "tags": [
          "AI Learning"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/ai/examples": {
      "post": {
        "summary": "AI Examples",
        "tags": [
          "AI Learning"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/ai/hints": {
      "post": {
        "summary": "AI Hints",
        "tags": [
          "AI Learning"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments": {
      "get": {
        "summary": "Get all assignments",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments/{id}": {
      "get": {
        "summary": "Get assignment by ID",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments/submit": {
      "post": {
        "summary": "Submit assignment",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments/submission/{id}": {
      "get": {
        "summary": "Get submission by ID",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments/evaluate": {
      "post": {
        "summary": "Evaluate assignment",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments/feedback": {
      "get": {
        "summary": "Get assignment feedback",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments/score": {
      "get": {
        "summary": "Get assignment score",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/assignments/history": {
      "get": {
        "summary": "Get assignment history",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Get projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get project by ID",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects/create": {
      "post": {
        "summary": "Create project",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects/upload": {
      "post": {
        "summary": "Upload project",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects/submit": {
      "post": {
        "summary": "Submit project",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects/evaluate": {
      "post": {
        "summary": "Evaluate project",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects/report": {
      "get": {
        "summary": "Get project report",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/projects/history": {
      "get": {
        "summary": "Get project history",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/leaderboard": {
      "get": {
        "summary": "Get leaderboard",
        "tags": [
          "Leaderboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/leaderboard/top10": {
      "get": {
        "summary": "Get top 10",
        "tags": [
          "Leaderboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/leaderboard/rank": {
      "get": {
        "summary": "Get rank",
        "tags": [
          "Leaderboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/leaderboard/profile/{id}": {
      "get": {
        "summary": "Get leaderboard profile",
        "tags": [
          "Leaderboard"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/certificates": {
      "get": {
        "summary": "Get certificates",
        "tags": [
          "Certificates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/certificates/{id}": {
      "get": {
        "summary": "Get certificate by ID",
        "tags": [
          "Certificates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/certificates/download": {
      "get": {
        "summary": "Download certificate",
        "tags": [
          "Certificates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/certificates/verify": {
      "get": {
        "summary": "Verify certificate",
        "tags": [
          "Certificates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/certificates/generate": {
      "post": {
        "summary": "Generate certificate",
        "tags": [
          "Certificates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/portfolio": {
      "get": {
        "summary": "Get portfolio",
        "tags": [
          "Portfolio"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update portfolio",
        "tags": [
          "Portfolio"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/portfolio/{studentId}": {
      "get": {
        "summary": "Get portfolio by student ID",
        "tags": [
          "Portfolio"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/portfolio/github": {
      "post": {
        "summary": "Connect GitHub",
        "tags": [
          "Portfolio"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/portfolio/resume": {
      "post": {
        "summary": "Upload resume",
        "tags": [
          "Portfolio"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/portfolio/public": {
      "get": {
        "summary": "Get public portfolio",
        "tags": [
          "Portfolio"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "summary": "Submit feedback",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "get": {
        "summary": "Get feedback",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/feedback/{id}": {
      "get": {
        "summary": "Get feedback by ID",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete feedback",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/login": {
      "post": {
        "summary": "Company login",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/profile": {
      "get": {
        "summary": "Company profile",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/jobs": {
      "get": {
        "summary": "Get jobs",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create job",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/jobs/{id}": {
      "put": {
        "summary": "Update job",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete job",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/candidates": {
      "get": {
        "summary": "Get candidates",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/candidate/{id}": {
      "get": {
        "summary": "Get candidate by ID",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/candidate/shortlist": {
      "post": {
        "summary": "Shortlist candidate",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/interview/schedule": {
      "post": {
        "summary": "Schedule interview",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/hiring/decision": {
      "post": {
        "summary": "Hiring decision",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company/analytics": {
      "get": {
        "summary": "Company analytics",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/students": {
      "get": {
        "summary": "Get students",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create students",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/students/{id}": {
      "put": {
        "summary": "Update students",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete students",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/companies": {
      "get": {
        "summary": "Get companies",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create companies",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/companies/{id}": {
      "put": {
        "summary": "Update companies",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete companies",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/universities": {
      "get": {
        "summary": "Get universities",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create universities",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/universities/{id}": {
      "put": {
        "summary": "Update universities",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete universities",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/semesters": {
      "get": {
        "summary": "Get semesters",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create semesters",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/semesters/{id}": {
      "put": {
        "summary": "Update semesters",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete semesters",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/modules": {
      "get": {
        "summary": "Get modules",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create modules",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/modules/{id}": {
      "put": {
        "summary": "Update modules",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete modules",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/topics": {
      "get": {
        "summary": "Get topics",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create topics",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/topics/{id}": {
      "put": {
        "summary": "Update topics",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete topics",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/assignments": {
      "get": {
        "summary": "Get assignments",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create assignments",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/assignments/{id}": {
      "put": {
        "summary": "Update assignments",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete assignments",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/projects": {
      "get": {
        "summary": "Get projects",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create projects",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/projects/{id}": {
      "put": {
        "summary": "Update projects",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete projects",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/certificates": {
      "get": {
        "summary": "Get certificates",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create certificates",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/certificates/{id}": {
      "put": {
        "summary": "Update certificates",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete certificates",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/leaderboard": {
      "get": {
        "summary": "Get leaderboard",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create leaderboard",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/leaderboard/{id}": {
      "put": {
        "summary": "Update leaderboard",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete leaderboard",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/ai-prompts": {
      "get": {
        "summary": "Get ai-prompts",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create ai-prompts",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/ai-prompts/{id}": {
      "put": {
        "summary": "Update ai-prompts",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete ai-prompts",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/dashboard-analytics": {
      "get": {
        "summary": "Dashboard Analytics",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/feedback-management": {
      "get": {
        "summary": "Feedback Management",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/platform-settings": {
      "get": {
        "summary": "Platform Settings",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/admin/user-management": {
      "get": {
        "summary": "User Management",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your JWT accessToken in the format: Bearer <accessToken>"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6a68b5fd0a41f3ba0b34b3b9"
          },
          "name": {
            "type": "string",
            "example": "Student Demo User"
          },
          "username": {
            "type": "string",
            "example": "student"
          },
          "email": {
            "type": "string",
            "example": "student@example.com"
          },
          "role": {
            "type": "string",
            "enum": [
              "student",
              "company_hr",
              "recruiter",
              "admin"
            ],
            "example": "student"
          },
          "defaultPortal": {
            "type": "string",
            "example": "Student Portal"
          },
          "isEmailVerified": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "Student": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6a68b79c792781564dd26552"
          },
          "user": {
            "type": "string",
            "example": "6a68b5fd0a41f3ba0b34b3b9"
          },
          "name": {
            "type": "string",
            "example": "Student Demo User"
          },
          "phone": {
            "type": "string",
            "example": "+1 555 0199"
          },
          "university": {
            "type": "string",
            "example": "Massachusetts Institute of Technology"
          },
          "creditScore": {
            "type": "number",
            "example": 250
          },
          "currentSemester": {
            "type": "number",
            "example": 3
          },
          "unlockedSemesters": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              1,
              2,
              3
            ]
          },
          "leaderboardRank": {
            "type": "number",
            "example": 1
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Node.js",
              "React",
              "MongoDB"
            ]
          },
          "interests": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Web Development",
              "AI"
            ]
          }
        }
      },
      "Admin": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6a68b5fd0a41f3ba0b34b3b0"
          },
          "user": {
            "type": "string",
            "example": "6a68b5fd0a41f3ba0b34b3b9"
          },
          "name": {
            "type": "string",
            "example": "Admin Demo User"
          },
          "email": {
            "type": "string",
            "example": "admin@example.com"
          },
          "department": {
            "type": "string",
            "example": "Management"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "all"
            ]
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6a68b5fd0a41f3ba0b34b3c1"
          },
          "companyName": {
            "type": "string",
            "example": "Tech Corp"
          },
          "email": {
            "type": "string",
            "example": "hr@company.com"
          },
          "industry": {
            "type": "string",
            "example": "Software"
          },
          "location": {
            "type": "string",
            "example": "San Francisco, CA"
          },
          "website": {
            "type": "string",
            "example": "https://techcorp.example.com"
          },
          "contactPerson": {
            "type": "string",
            "example": "Jane Smith"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "VERIFIED"
            ],
            "example": "ACTIVE"
          }
        }
      },
      "Certificate": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6a68b5fd0a41f3ba0b34b3d2"
          },
          "student": {
            "type": "string",
            "example": "6a68b79c792781564dd26552"
          },
          "certificateId": {
            "type": "string",
            "example": "CERT-2026-001"
          },
          "title": {
            "type": "string",
            "example": "Full Stack Development Certification"
          },
          "issueDate": {
            "type": "string",
            "format": "date-time"
          },
          "credentialUrl": {
            "type": "string",
            "example": "https://credentials.example.com/cert/001"
          },
          "skillsVerified": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Node.js",
              "Express",
              "MongoDB"
            ]
          }
        }
      },
      "Leaderboard": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6a68b5fd0a41f3ba0b34b3e3"
          },
          "student": {
            "type": "string",
            "example": "6a68b79c792781564dd26552"
          },
          "rank": {
            "type": "number",
            "example": 1
          },
          "creditScore": {
            "type": "number",
            "example": 250
          },
          "totalProjectsCompleted": {
            "type": "number",
            "example": 3
          },
          "totalAssignmentsCompleted": {
            "type": "number",
            "example": 5
          }
        }
      },
      "Tokens": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "refreshToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Login successful"
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "$ref": "#/components/schemas/User"
              },
              "student": {
                "$ref": "#/components/schemas/Student"
              },
              "tokens": {
                "$ref": "#/components/schemas/Tokens"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "error": {
            "type": "object",
            "properties": {
              "statusCode": {
                "type": "number",
                "example": 401
              },
              "message": {
                "type": "string",
                "example": "Invalid credentials or missing token"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}